In [1]:
import pandas as pd

In [46]:
df = pd.read_csv("EBOOK-RATING-WITH-USERS-AND-TITLE.csv", delimiter=";")

In [47]:
df.shape

(1194, 5)

In [48]:
df.head()

,id,judul,deskripsi,user_id,rating
0,1197,"EDEN IN THE EAST SURGA DI TIMUR,STEPHEN OPPENH...",Buku ini diterbitkan untuk menambah wawasan pa...,311,5.0
1,1209,24416 NASKAH DEPARTEMEN TENTANG MATA KULIAH MA...,Buku ini diterbitkan untuk menambah wawasan pa...,1631,4.0
2,1210,24418 NASKAH DEPARTEMEN TENTANG MATA KULIAH MA...,Buku ini diterbitkan untuk menambah wawasan pa...,1631,5.0
3,1234,BUKU PETUNJUK PELAKSANAAN PEDOMAN PENGAMANAN P...,Buku ini diterbitkan untuk menambah wawasan pa...,1994,2.0
4,1236,BUKU PETUNJUK PELAKSANAAN PEDOMAN PENYIAPAN SA...,Buku ini diterbitkan untuk menambah wawasan pa...,3090,5.0

In [49]:
df["id"].nunique()

571

In [50]:
df["judul"].value_counts().head()

10 Kisah Genocide                                               53
Obrolan Nusantara: Menyambut Indonesia""                        36
100 Pemimpin Militer yang Berpengaruh di Dalam Sejarah Dunia    30
10 SECRETS OF SUCCESSFUL LEADERS                                29
DAR MEMBONGKAR OPERASI PSIKOLOGI GERAKAN INTOLERANSI            27
Name: judul, dtype: int64

In [51]:
# Let's get to the book with less than 1 rating:
comment_counts = pd.DataFrame(df["judul"].value_counts())
rare_book = comment_counts[comment_counts["judul"] <= 1].index

# Let's get access to book with over 1 rating:
common_books = df[~df["judul"].isin(rare_book)]
common_books.shape

(779, 5)

In [52]:
# Unique book with more than 5 reviews:
common_books["judul"].nunique()

154

In [53]:
# Let's create the User Book Df:
user_book_df = common_books.pivot_table(index=["user_id"], columns=["judul"], values="rating")

# There are 161 movies that 154 users have rated for. 
user_book_df.shape

(161, 154)

In [54]:
user_book_df.head(10)

judul,10 Kisah Genocide,10 November 45 Mengapa Inggris Membom Surabaya,10 SECRETS OF SUCCESSFUL LEADERS,100 HIKMAH RAMADHAN,100 KESIAPSIAGAAN BEKANGDAM JAYA DALAM MANAJEMENT RISK APPROACH,100 Kebiasaan Orang Sukses,100 Pemimpin Militer yang Berpengaruh di Dalam Sejarah Dunia,100 Tokoh Intelijen Dunia,100 Tokoh Paling Berpengaruh Sepanjang Masa,1001 CARA CEPAT NAIK PANGKAT,...,Wawancara Imajiner dengan Bung Karno,Wawasan Politik Mengenai Sistem Pendidikan Nasional,West Irian is Indonesian Territory & The Second Great War,Worldclass Manufacturing Dekade Mendatang,YOU ARE A LEADER!,Yahudi Zionis Kapitalis,Yayasan Undang-Undang No.28 Tahun 2004 Tentang perubahan UU. No. 16 Tahun 2001,Yok Koeswoyo,Yuridiksi Peradilan Militer Terhadap Anggota Tentara Nasional Indonesia yang Melakukan Tindak Pidana Umum,Zionis Islael dan Kebangkitan Nasionalisme Arab
user_id,,,,,,,,,,,,,,,,,,,,,
276,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
521,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
527,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
535,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
536,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
538,NaN,NaN,NaN,5.0,NaN,NaN,5.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
577,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
618,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
625,NaN,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
638,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [55]:
# item-based book recommendation example:
book_name = "10 Kisah Genocide"
book_name = user_book_df[book_name]
user_book_df.corrwith(book_name).sort_values(ascending=False).head(10)

/Users/macbookpro2020m1/anaconda3/lib/python3.10/site-packages/numpy/lib/function_base.py:2845: RuntimeWarning: Degrees of freedom <= 0 for slice
  c = cov(x, y, rowvar, dtype=dtype)
/Users/macbookpro2020m1/anaconda3/lib/python3.10/site-packages/numpy/lib/function_base.py:2704: RuntimeWarning: divide by zero encountered in divide
  c *= np.true_divide(1, fact)

judul
10 Kisah Genocide                                                                               1.000000
10 SECRETS OF SUCCESSFUL LEADERS                                                                1.000000
111 Konspirasi Menghebohkan Dunia                                                               1.000000
184 UPAYA MENINGKATKAN PENGAWASAN KELUARGA TNI DARI PENGARUH NEGATIF PENGGUNAAN MEDIA SOSIAL    1.000000
Zionis Islael dan Kebangkitan Nasionalisme Arab                                                 0.962250
100 Pemimpin Militer yang Berpengaruh di Dalam Sejarah Dunia                                    0.743392
Unholy Trinity                                                                                  0.612372
Obrolan Nusantara: Menyambut Indonesia""                                                        0.594028
100 Tokoh Intelijen Dunia                                                                       0.025641
Worldclass Manufacturing Dekade Mendatang                                                      -0.125000
dtype: float64